/*
- Mobile: 375px
- Desktop: 1440px
*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  /* Colors */

  /* Primary */

  --orange: hsl(25, 97%, 53%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);

  /* Typography */

  /* Body Copy */
  /* (paragraph) */
  --fontSize: 15px;

  /* font */

  --fontFamily: 'Overpass', sans-serif;
}

body {
  font-family: var(--fontFamily);
  font-weight: 400;
  background-color: var(--veryDarkBlue);
  color: var(--lightGrey);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.content,
.modal {
  width: 100%;
  max-width: 327px;
  --darkBlue: hsl(215, 22%, 15%);
  background-color: var(--darkBlue);
  border-radius: 1rem;
  padding: 1.35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s;
}

.conten__icon {
  width: max-content;
  padding: 0.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  --mediumGrey: hsl(214, 15%, 19%);
  background-color: var(--mediumGrey);
  display: grid;
  place-items: center;
}

.content__img {
  width: 90%;
}

.content__title {
  color: var(--white);
  font-size: 1.5em;
}

.content__paragraph {
  color: var(--lightGrey);
  font-size: 0.9em;
}

.content_points {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.point {
  --mediumGrey: hsla(216, 12%, 54%, 0.1);
  background-color: var(--mediumGrey);
  color: var(--lightGrey);
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.point:hover {
  background-color: var(--orange);
  color: var(--white);
}

.point--active {
  background-color: var(--lightGrey);
  color: var(--white);
}

.content__btn {
  border: none;
  background-color: var(--orange);
  --white: hsla(0, 0%, 100%, 0.8);
  color: var(--white);
  border-radius: 100vmax;
  padding-block: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 0.75em;
  cursor: pointer;
}

.content__btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.modal {
  position: absolute;
  align-items: center;
  padding-block: 2rem;
  justify-content: space-evenly;
}

.modal__figure {
  width: 150px;
}

.modal__img {
  width: 100%;
}

.modal__result {
  --orange: hsla(25, 97%, 53%, 0.8);
  color: var(--orange);
  --lightGrey: hsla(217, 12%, 63%, 0.1);
  background-color: var(--lightGrey);
  border-radius: 100vmax;
  padding: 0.3rem 1rem;
}

.modal__thank {
  color: var(--white);
  font-size: 1.5em;
}

.modal__paragraph {
  text-align: center;
  color: var(--lightGrey);
  text-wrap: balance;
}

.hide {
  opacity: 0;
  transform: scale(0);
}

/* Atribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-block: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
