@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* Colors

Primary

Text */

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient

Background gradient: */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral

Text */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Layout 
The designs were created to the following widths: */
  /* 
mobile: 375px
Desktop: 1440px */

  --font-size: 12px;
  --font: 'Kumbh Sans', sans-serif;
  --radius: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  min-height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.faq {
  width: 327px;
  height: 590px;
  background-color: #ffffff;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.5rem;
  box-shadow: 10px 30px 80px -15px hsla(0, 0%, 0%, 0.5);
  margin-top: 50px;
}

.faq__box {
  display: none;
}

.illustration {
  width: 240px;
  height: 170px;
  position: relative;
}

.illustration__img {
  width: 100%;
  transform: translate(0, -60%);
}

.illustration__img--shadow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: -2.5rem;
}

.faq__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.question {
  width: 100%;
}

.question__ask {
  list-style: none;
  font-size: 1.1em;
  font-weight: 400;
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;
  position: relative;
  user-select: none;
}

.question__ask::after {
  content: '';
  position: absolute;
  right: 0.5em;
  width: 10px;
  aspect-ratio: 1/1;
  background: url(../images/icon-arrow-down.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.question__ask:hover {
  color: var(--soft-red);
}

.question[open] .question__ask {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.question[open] .question__ask::after {
  transform: rotate(180deg);
}

.question__answer {
  color: var(--dark-grayish-blue);
  margin-top: 0.5rem;
}

.content__divider {
  width: 100%;
  border: transparent;
  border-bottom: 1px solid var(--light-grayish-blue);
}

/* attributtion */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-block: 1.5rem;
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--light-grayish-blue);
}
.attribution a {
  color: #ffffff;
}

@media (width >= 1440px) {
  .faq {
    width: 925px;
    height: 509px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    padding-inline: 0;
    position: relative;
  }

  .illustration,
  .content {
    width: 50%;
    height: 100%;
  }

  .illustration {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .illustration__img {
    transform: translate(-18%, 0);
    position: relative;
    z-index: 20;
  }

  .faq__box {
    display: block;
    position: absolute;
    left: -90px;
    bottom: 120px;
    z-index: 30;
  }

  .illustration__img--shadow {
    width: 200%;
    position: absolute;
    left: -376px;
    bottom: -115px;
    z-index: 10;
  }

  .content {
    margin-top: 0;
    padding-block: 4rem;
    padding-inline: 3rem;
    gap: 1rem;
  }

  .faq__title {
    text-align: left;
  }

  .question {
    font-size: 1.1em;
  }
}
