@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
  /* Colors */

  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);

  /*
  Font

- Family: [Work Sans](https://fonts.google.com/specimen/Work+Sans)
- Weights: 400, 600, 700
 */

  --font: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--font);
  background-color: bisque;
  display: grid;
  place-items: center;
  background-color: var(--Light-pink);
}

.hero {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 300px;
  background: url(../images/background-pattern-mobile.svg);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -10;
}

.faq {
  width: 327px;
  min-height: 527px;
  background-color: var(--White);
  border-radius: 8px;
  padding: 1.5rem;
}

.faq__header {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5rem;
}

.faq__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.faq__title {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.faq__divider {
  border: 1px solid var(--Light-pink);
}

.question {
  width: 100%;
  position: relative;
}
.question__ask {
  color: var(--Dark-purple);
  list-style: none;
  cursor: pointer;
  font-weight: 700;
  width: 80%;
  user-select: none;
}

.question__ask:hover {
  color: var(--Grayish-purple);
}

.question__ask::before {
  content: '';
  width: 35px;
  height: 35px;
  background-image: url(../images/icon-plus.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

.question[open] .question__ask::before {
  background-image: url(../images/icon-minus.svg);
}

.question__answer {
  color: var(--Grayish-purple);
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 1.5rem;
  line-height: 20px;
  cursor: pointer;
}

/* attribution */

.attribution {
  font-size: 12px;
  text-align: center;
  margin-block: 1.5rem;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width >= 1440px) {
  .hero {
    background: url(../images/background-pattern-desktop.svg);
    background-size: cover;
    height: 350px;
  }
  .faq {
    width: 600px;
    min-height: 564px;
    padding: 2rem;
    border-radius: 15px;
  }

  .faq__header {
    margin-block: 2rem;
  }

  .faq__icon {
    width: 35px;
    height: 35px;
  }

  .faq__title {
    font-size: 3em;
  }

  .question {
    font-size: 1.1em;
  }

  .question__ask,
  .question__answer {
    width: 90%;
  }

  .question__ask::before {
    width: 30px;
    height: 30px;
  }
}
