@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  /* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary */

  --soft-blue: hsla(215, 52%, 70%, 0.8);
  --cyan: hsl(178, 100%, 50%);

  /* ### Neutral */

  /* (main BG) */
  --very-dark-blue-bg: hsl(216, 55%, 11%);

  /* (card BG) */
  --very-dark-blue-card: hsl(216, 50%, 16%);

  /* (line) */
  --very-dark-blue: hsl(215, 32%, 27%);

  --white: hsl(0, 0%, 100%);

  /* ## Typography

### Body Copy

(paragraph) */
  --font-size: 18px;
  --font-family: 'Outfit', sans-serif;

  /* ### Font */
  /* 
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
  --radius-card: 1rem;
  --radius-img: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 120vh;
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--very-dark-blue-bg);
}

.card {
  max-width: 327px;
  background-color: var(--very-dark-blue-card);
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: var(--radius-card);
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 100%;
  background-color: hsl(217, 55%, 10%);
  top: 5%;
  left: -5%;
  right: 0;
  bottom: 0;
  z-index: -10;
  border-radius: 3rem;
}

.card::after {
  content: '';
  position: absolute;
  width: 130%;
  height: 115%;
  background-color: hsl(216, 57%, 11%);
  top: -5%;
  left: -15%;
  right: 0;
  bottom: 0;
  z-index: -20;
  border-radius: 3rem;
}

.card__picture,
.card__img {
  width: 100%;
  border-radius: var(--radius-img);
  margin-bottom: 1rem;
}

.card__texts {
  color: var(--soft-blue);
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    'title title'
    'paragraph paragraph'
    'value time'
    'autor autor';
  font-size: 0.9em;
  gap: 1rem;
}

.card__title {
  grid-area: title;
  color: var(--white);
  font-size: 1.2em;
}

.card__paragraph {
  grid-area: paragraph;
}

.card__value {
  grid-area: value;
  color: var(--cyan);
  transform: translateX(0.5em);
  display: flex;
  align-items: center;
}

.card__value::before {
  content: '';
  width: 0.5em;
  height: 1em;
  background-image: url('../images/icon-ethereum.svg');
  background-size: cover;
  background-position: center;
  transform: translateX(-0.5em);
  display: inline-block;
}

.card__time {
  grid-area: time;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card__time::before {
  content: '';
  width: 1em;
  aspect-ratio: 1/1;
  background-image: url('../images/icon-clock.svg');
  background-size: cover;
  background-position: center;
  display: inline-block;
  transform: translateX(-0.5em);
}

.card__autor {
  grid-area: autor;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
}

.autor__picture {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.autor__name {
  color: var(--white);
}

.card__autor::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  --white: hsla(0, 0%, 100%, 0.05);
  border-top: 2px solid var(--white);
}

/* attribution */

.attribution {
  font-size: 0.8em;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
